@font-face {
  font-family: "Lato-Black";
  src: url("assets/fonts/Lato-Black.woff2") format("woff2"),
    url("assets/fonts/Lato-Black.ttf") format("truetype"),
    url("assets/fonts/Lato-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.woff2") format("woff2"),
    url("assets/fonts/Lato-Regular.ttf") format("truetype"),
    url("assets/fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

img {
  border: none;
}

a,
a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* container
=============== */
.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

/* header
=============== */
.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  position: sticky;
  top: 0px;
  z-index: 10000;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}

/* logo
=============== */
.header__logo {
  padding-left: 40px;
  padding-bottom: 1px;
  cursor: pointer;
}

h1 {
  font-family: Lato;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.45px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
}

.logo-link {
  text-decoration: none;
}

.logo-part {
  color: #f06c64;
}

/* nav
=============== */

.nav {
  max-width: 400px;
  margin-right: 40px;
  margin-top: 28px;
}

ul.nav {
  padding: 1px 0 0 0;
}

ul.nav li a.current {
  color: #82cedb;
}

ul.nav li {
  float: left;
  font-size: 12px;
  font-stretch: semi-condensed;
  letter-spacing: -0.05px;
  font-weight: 400;
  line-height: 6.32px;
  color: #494e62;
  text-transform: uppercase;
}

ul.nav li:before {
  font-family: Lato;
  content: "·";
}

ul.nav li:first-child:before {
  content: none;
}

ul.nav li:first-child a {
  margin-left: 0px;
}

ul.nav li:last-child a {
  margin-right: 0px;
}

ul.nav li a {
  color: #ffffff;
  display: inline-block;
  margin: 0 13px 0 13.5px;
}

ul.nav li a:hover {
  color: #82cedb79;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* slider
=============== */
.slider_main {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  transition: all ease 1.5s;
}

.bgBlue {
  background-color: #648BF0;
  border-bottom: 6px solid #649BF0;
}

.slider_container {
  width: 1020px;
  margin: 0 auto;  
}


.slider-nav {
  position: absolute;
  height: 100px;
  width: 100%;  
  padding-right: 82px;
  top: calc(50% - 15px);
  display: flex;
  justify-content: space-between;
  z-index: 9500;
}

.slider__arrow-left {
  top: 281px;
}

.slider__arrow-right {
  top: 281px;
}

.slider__arrow-right img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.arrow-interactive {
  cursor: pointer;
}

.arrow-interactive:hover {
  transform: scale(1.2);
}

/* .slide {
  overflow: hidden;
  display: flex;
  justify-content: space-around;  
  padding: 24px;
} */

.slider {
  padding: 24px 42px 51px 42px;
  position: relative;
  height: 594px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.phones {
  display: inline-block;
  position: absolute;
  left: calc(50% - 415px);
  width: 830px;
  height: 519px;
  overflow: hidden;
}


.slide_item {
  width: 830px;  
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 1s;
}

.slide_1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 513px;
}

.slide_2{
  display: flex;
  justify-content: center;
  align-items: center;
}  

.Iphone_Vertical {
  position: relative;
  width: 300px;
  height: 483px;
}




.slide__iPhone_Vertical {
  position: absolute;
}

.slide__iPhone_Vertical-display {
  position: absolute;

  top: 65px;
  left: 14px;
}

.slide__iPhone_Vertical_Base {
  position: absolute;
  opacity: 0;
  z-index: 998;
}

.Iphone_Horizontal {
  position: relative;
  width: 483px;
  height: 240px;
}

.slide__iPhone_Horizontal {
  position: absolute;
}

.slide__iPhone_Horizontal-display {
  position: absolute;
  top: 14px;
  left: 60px;
}

.slide__iPhone_Horizontal_Base {
  z-index: 999;
  position: absolute;
  opacity: 0;
}

#vertical_display.hidden {
  opacity: 0;
}

#horizontal_display.hidden {
  opacity: 0;
}

/* services
=============== */
.services {
  height: 500px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  scroll-margin-top: 95px;
}

.services__inner {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.services__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__column {
  width: 299px;
}

.item-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item-about__article {
  display: block;
  width: 220px;
}

.services__title>h2 {
  color: #666d89;
  font-family: Lato-Black, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 17.86px;
  margin: 0 auto;
  letter-spacing: 0px;
  font-stretch: condensed;
  letter-spacing: 0.02px;
  padding-top: 72px;
}

.services__text h3 {
  color: #767e9e;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 6px;
  text-align: justify;
}

.services__row {
  padding-top: 29px;
  padding-left: 1px;
  padding-right: 1px;
}

.item-about__title>h4 {
  color: #666d89;
  font-family: Lato-Black, sans-serif;
  font-size: 18.5px;
  font-weight: 200;
  line-height: 17.86px;
  margin: 0px auto;
  letter-spacing: -0.2px;
}

.item-about__text {
  color: #767e9e;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 450;
  line-height: 21.999px;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 33px;
  text-align: justify;
  overflow: hidden;
}

.title__design h4 {
  word-spacing: -2px;
}

.title__responsive h4 {
  letter-spacing: -0.28px;
  word-spacing: -1px;
}

.title__support h4 {
  letter-spacing: -0.4px;
  word-spacing: -1px;
}

.title__love h4 {
  margin-left: 2px;
  letter-spacing: -0.3px;
}

.title__feel h4 {
  margin-left: 2px;
}

.support__text {
  letter-spacing: -0.1px;
}

img {
  border: none;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.portfolio-container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.portfolio__inner>h2 {
  color: #666d89;
  font-family: "Lato-Black";
  font-size: 30px;
  font-weight: 400;
  line-height: 17.86px;
  margin: 0 auto;
  padding-top: 72px;
  letter-spacing: 0.15px;
}

.portfolio__inner>h3 {
  color: #767e9e;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 24px;
}

.people__cards>li>h4 {
  color: #666d89;
  font-family: "Lato-Black";
  font-size: 18px;
  font-weight: 400;
  line-height: 17.86px;
  margin-top: 14px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.people__cards p {
  color: #767e9e;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
}

/* portfolio */

.portfolio {
  background-color: #2d303a;
  overflow: hidden;
  border-bottom: 6px solid #323746;
  scroll-margin-top: 95px;
}

.portfolio__inner {
  height: 863px;
}

.portfolio ul.portfolio-menu {
  padding-left: 0px;
  width: 100%;
  overflow: hidden;
  margin-top: 11.5px;
  margin-left: 1px;
  margin-bottom: 19px;
}

.portfolio ul.portfolio-menu li {
  float: left;
  margin: 0 10px 0 0;
  font-size: 12px;
  font-weight: 300;
}

.portfolio ul.portfolio-menu li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #666d89;
  color: #767e9e;
  padding: 2px 7px 2.5px;
  height: 100%;
  display: block;
}

ul.portfolio-menu li a.current-tab {
  border: 1px solid #82cedb;
  color: #82cedb;
}

.portfolio ul.portfolio-menu li a:hover {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  color: #dedede;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.portfolio ul.portfolio-menu li:nth-child(2) a {
  letter-spacing: 0.1px;
  padding-left: 6px;
  padding-right: 6px;
}

.portfolio ul.portfolio-menu li:nth-child(3) a {
  letter-spacing: 0.1px;
  padding-left: 5px;
  padding-right: 6px;
}

.portfolio ul.portfolio-menu li:nth-child(4) a {
  letter-spacing: 0.2px;
  padding-left: 6px;
  padding-right: 5px;
}

.portfolio__images {
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.portfolio__images li {
  padding-right: 20px;
  padding-bottom: 14px;
}

/* about us */

.about {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about__inner {
  height: 728px;
}

.about__inner>h2 {
  letter-spacing: -0.2px;
  color: #666d89;
  font-family: "Lato-Black";
  font-size: 30px;
  font-weight: 400;
  line-height: 17.86px;
  margin: 0 auto;
  padding-top: 72px;
  padding-left: 1px;
  letter-spacing: 0.15px;
  word-spacing: -2px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
}

.about__inner>h3 {
  text-align: justify;
  color: #767e9e;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 24px;
}

.people__cards>li>h4 {
  padding-left: 0px;
  margin-top: 14px;
  margin-left: -1px;
  margin-bottom: 0px;
}

.about__inner>ul>li:nth-child(1)>ul>li:nth-child(3) {
  padding-left: 0px;
}

.about__inner li:nth-child(2) {
  padding-left: 0px;
  word-spacing: -0.5px;
  margin-left: 0px;
}

.about__inner li:nth-child(3) {
  word-spacing: 0.75px;
}

.about__inner p {
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 23px;
  letter-spacing: -0.1px;
  word-spacing: -0.2px;
  text-align: justify;
  overflow: hidden;
}

.about__inner li:nth-child(1) p {
  letter-spacing: -0.1px;
  word-spacing: -1.5px;
}

.about__inner li:nth-child(1) p span {
  letter-spacing: -0.05px;
  word-spacing: 0px;
}

.about__inner li:nth-child(2) p {
  letter-spacing: 0.1px;
  word-spacing: -0.8px;
  margin-right: -1px;
}

.about__inner li:nth-child(3) p {
  letter-spacing: 0px;
  word-spacing: -0.5px;
}

.people__cards {
  padding: 0px;
  padding-top: 27px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.people__cards li {
  padding-right: 19px;
  padding-bottom: 14px;
}

.people__cards li:nth-child(2) {
  padding-right: 21px;
}

.people__cards li:nth-child(3) {
  padding-right: 0px;
}

ul.social-icons {
  padding-left: 0px;
}

.people__cards .social-icons li:nth-child(1) {
  padding-left: 1px;
}

.people__cards .social-icons li:nth-child(3) {
  padding-right: 3px;
}

.people__cards li:nth-child(1) .social-icons li:nth-child(3) {
  padding-right: 2px;
  padding-left: 1px;
}

.people__cards li:nth-child(2) .social-icons li:nth-child(3) {
  padding-right: 3px;
  padding-left: 0px;
}

.people__cards li:nth-child(2) .social-icons li:nth-child(2) {
  padding-left: 1px;
}

.people__cards li:nth-child(3) .social-icons li {
  padding-right: 3px;
  padding-left: 0px;
}

.people__cards li:nth-child(3) .social-icons li:nth-child(3) {
  padding-right: 3px;
  padding-left: 1px;
}

.people__cards .social-icons li {
  display: inline;
  padding-left: 0px;
  padding-right: 3.5px;
}

img {
  border: none;
}

fieldset,
input,
textarea,
button {
  border: none;
  outline: none;
}

a,
a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

.quote-container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: px;
}

.quote-inner>h2 {
  color: #f0d8d9;
  font-family: "Lato-Black";
  font-size: 30px;
  font-weight: 400;
  line-height: 17.86px;
  margin: 0 auto;
  padding-top: 72px;
  letter-spacing: -0.2px;
}

.quote-inner>h3 {
  color: #f0d8d9;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 24px;
  text-align: justify;
}

.quote {
  overflow: hidden;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote-inner {
  padding-bottom: 15px;
}

/* contact form */

input {
  background: #d6564f;
  width: 619px;
  height: 38px;
  font-weight: 400;
  line-height: 21.56px;
  font-size: 12px;
  color: #f0d8d9;
  font-family: "Lato", sans-serif;
  padding: 8px 15px;
  margin: 0 0 16px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

::placeholder {
  color: #f48c8f;
}

textarea {
  background: #d6564f;
  width: 619px;
  height: 202px;
  border: 0;
  padding-left: 14px;
  padding-top: 12px;
  margin: 0 0 8px 0;
  outline: none;
  overflow: auto;
  resize: none;
  font-size: 12px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.submitbtn {
  height: 38px;
  width: 150px;
  background: #f0d8d9ad;
  color: #d6564f;
  font-size: 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.quote-form input:hover,
.quote-inner textarea:hover {
  box-shadow: 0px 0px 5px 0px rgba(27, 25, 25, 0.5), inset 0 0 0 50px #d6564f;
  transition: box-shadow 0.1s ease-in;
}

/* contact information*/
.quote-inner h4 {
  color: #f0d8d9;
  font-family: "Lato-Black";
  font-size: 18px;
  font-weight: 300;
  line-height: 17.95px;
  letter-spacing: 0.07px;
  margin: 0 auto;
  padding-top: 2px;
  margin-left: 11px;
}

.quote-inner p {
  color: #f0d8d9;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.82;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 22px;
  margin-left: 11px;
  text-align: justify;
  letter-spacing: -0.1px;
}

.quote-inner p span {
  line-height: 2;
  letter-spacing: -0.05px;
}

.quote-inner ul {
  margin: 0 auto;
  padding: 44px 0 0 0;
  overflow: hidden;
}

.quote-inner ul li {
  float: left;
  max-width: 320px;
  padding: 0 0 0 10px;
}

.quote-inner ul li:first-child {
  padding: 0 10px 0 0;
  max-width: 619px;
}

.contact-container a {
  display: block;
  color: #f0d8d9;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 12px;
  letter-spacing: -0.1px;
}

.contact-container__location a {
  line-height: 20px;
}

.contact-container__mail a {
  line-height: 20px;
  letter-spacing: 0px;
}

.contact-container__location a:before {
  content: url(assets/location.png);
  padding-left: 2px;
  padding-right: 12.5px;
}

.contact-container__telephone a:before {
  content: url(assets/phone.png);
  padding-right: 11px;
}

.contact-container__mail a:before {
  content: url(assets/mail.png);
  padding-right: 10px;
  margin-left: -1px;
  line-height: 23px;
}

/* footer */

.footer {
  padding: 5px 0;
  background-color: #2d303a;
}

.footer .footer-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
}

.footer .footer-panel>span {
  font-size: 12px;
  color: #666d89;
  letter-spacing: -0.2px;
  padding-left: 2px;
}

.footer .footer-panel>.footer-socials {
  display: flex;
}

.footer .footer-panel>.footer-socials>li {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

ul.footer-socials {
  padding-right: 1px;
}

.footer .footer-panel>.footer-socials>li:hover {
  background-color: #dedede8a;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
  border: 1px solid #666d89;
  border-radius: 50%;
}

/* formmessage */

#message-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(63, 56, 56, 0.533);
}

#message-block.hidden {
  display: none;
}

#message {
  position: absolute;
  bottom: calc(50vw - 350px);
  left: calc(50vw - 150px);
  width: 300px;
  max-height: 300px;
  background-color: #2d303a;
  color: #f0d8d9;
  padding: 15px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 5%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
}

#close-button {
  background-color: #f0d8d9;
  border-radius: 5%;
}

.current_image {
  border: 5px solid #f06c64;
}